parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
        - test
        - examples
    reportUnmatchedIgnoredErrors: true
    # Removemos os ignores para ver todos os erros
